@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

.sidebar {
    animation: slide-sidebar 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-sidebar {
    /* from {
        transform: translateY(50px);
    }

    to {
        transform: translateY(0px);
    } */

    0% {
        height: 50px;
    }

    100% {
        height: 75px;
    }
}

.bg-gradient {
    background: linear-gradient(to top, #fff -278%, #102662 -78%, #00040F 100%);
}